@import "./global";

@media screen and (min-width: 768px) {
  .statusCard{
    margin: 1.3rem;
    line-height: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    .cards{
      font-size: $small;
      @include buttonStyle(1px, $mainColor, $white, 0.5rem, 0.8rem);
      @include displayFlex(column, flex-start, flex-start);
      margin: 0.7rem;
      width: 13.5rem;
      cursor: auto;
      h3, button {
        align-self: center;
        margin: 0.5rem;
      }
      .onlyrow {
        @include displayFlex(row, flex-start, flex-start);
      }
      button {
        @include buttonStyle(1px, transparent, $mainColor, 0.5rem, 0.2rem);
        color: $white;
        width: 7.5rem;
      }
      .smallerFont {
        font-size: $xsmall;
      }
    }
  }

}
