@import "./global";

@media screen and (min-width: 768px) {
  .statusCard{
    margin: 1.3rem;
    line-height: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    .cards{
      font-size: $xsmall;
      @include buttonStyle(1px, $mainColor, $white, 0.5rem, 0.8rem);
      @include displayFlex(column, space-between, flex-start);
      margin: 0.7rem;
      width: 13.5rem;
      cursor: auto;
      section {
        width: 100%;
      }
      .izq {
        text-align: left;
      }
      .center {
        text-align: center;
      }
      hr {
        border-top: 1px dashed $darkGrey;
        margin: 0.9rem 0;
      }
      h3, button {
        align-self: center;
        margin: 0.5rem;
        text-align: center;
      }
      .onlyrow {
        @include displayFlex(row, flex-start, flex-start);
        width: 100%;
      }
      .spc-btwn {
        display: flex;
        justify-content: space-between;
      }
      
      div{
        width: 100%
      }
      button {
        @include buttonStyle(1px, transparent, $mainColor, 0.5rem, 0.3rem);
        color: $white;
        font-size: $small;
        width: 8.5rem;
      }
      .is-active{
        background-color: $mainColor;
        color: $white;
      }
      .inactive{
        background-color: $grey;
        color: $black;
        cursor: not-allowed;
      }
    }
  }

}
