@import "./global";

@media screen and (min-width: 768px)/*  and (max-width: 1024px) */ /* and (orientation: landscape) */ {
  .home{
    height: 100vh;
    padding: 1rem;
    text-align: center;
    @include displayFlex(column, space-around, center/* , space-around */);
    h1 {
      line-height: 3rem;
      font-size: $large;
    }
    article{
      @include displayFlex(row, space-around, center/* , space-around */);
      li {
        @include buttonStyle(2px, $mainColor, $mainColor, 0.5rem, 0.4rem);
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        width: 10rem;
        a {
          font-size: $medium;
          color: white;
        }
      }
      figure {
        img {
          margin-right: 6rem;
          width: 13rem;
        }
      }
    }

  }
}
