@import "./global";

@media screen and (min-width: 768px)/*  and (max-width: 1024px) */ /* and (orientation: landscape) */{
  .navServer{
    background-color: #503b25e3;
    padding: 0.4rem 0.8rem;
    font-size: 1.05rem;
    @include displayFlex(row, space-between, center);
    ul {
      @include displayFlex(row, space-around, center);
      
      li {
        margin-left: 2.1rem;
        &:hover {
          transform: scale(1.15);
          transition: all .2s ease-in-out;
        }
        a {
          font-weight:300;
          color: $white;
        }
      }
    }
    img {
      width: 2.5rem;
    }
  }
}
