@import "./global";

@media screen and (min-width: 768px)/*  and (max-width: 1024px) */ /* and (orientation: landscape) */{
  .navServer{
    padding: 0.6rem 0.6rem 0 0.6rem;
    border-bottom: solid 1px $golden;
    font-size: $small;
    /* position: fixed; */
    @include displayFlex(row, space-between, flex-end/* , space-around */);
    ul {
      @include displayFlex(row, space-around, center/* , space-around */);
      ;
      li {
        @include buttonStyle(1px, $golden, $white, 0.5rem, 0.3rem);
        margin-left: 1rem;
        /* &:hover {
          background-color: $golden;
          color: $white;
        } */
      }
    }
    img {
      width: 2.5rem;
    }
  }
}
