@media screen and (min-width: 768px) {
  .home {
    height: 100vh;
    padding: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home h1 {
    line-height: 3rem;
    font-size: 2.2rem;
  }
  .home article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home article li {
    border: solid 2px #997400;
    background-color: #997400;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.4rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 10rem;
  }
  .home article li a {
    font-size: 1.3rem;
    color: white;
  }
  .home article figure img {
    margin-right: 6rem;
    width: 13rem;
  }
}

@media screen and (min-width: 768px) {
  .navServer {
    padding: 0.6rem 0.6rem 0 0.6rem;
    border-bottom: solid 1px #997400;
    font-size: 0.9rem;
    /* position: fixed; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navServer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navServer ul li {
    border: solid 1px #997400;
    background-color: #ffff;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
    margin-left: 1rem;
    /* &:hover {
          background-color: $golden;
          color: $white;
        } */
  }
  .navServer img {
    width: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .order .orderContainer {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .productsList {
    width: 60vw;
    border-right: solid 1px #997400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .productsList nav {
    font-size: 0.8rem;
  }
  .productsList nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productsList nav div li {
    border: solid 1px #997400;
    background-color: #ffff;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
    margin-left: 1rem;
  }
  .productsList nav div li:hover {
    background-color: #997400;
    color: #ffff;
  }
  .productsList .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 0.8rem;
  }
  .productsList .cards div {
    text-align: center;
    border: solid 1px #997400;
    background-color: #ffff;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.4rem;
    cursor: auto;
    /* margin-inline: 0.7rem; */
    margin: 0.5rem;
    width: 8.5rem;
    height: 12rem;
  }
  .productsList .cards div img {
    border-radius: 0.3rem;
    width: 6rem;
  }
  .productsList .cards div button {
    border: solid 1px #ffff;
    background-color: #f04e51;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.3rem;
    margin-top: 0.2rem;
    color: #ffff;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .orderList {
    width: 35vw;
    padding: 0 0.5rem;
  }
  .orderList h2 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }
  .orderList .customerInfo {
    border-bottom: dotted 2px #997400;
    padding-bottom: 1rem;
  }
  .orderList .customerInfo p, .orderList .customerInfo input {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
  }
  .orderList .customerInfo p {
    margin-right: 0.2rem;
    width: 25%;
  }
  .orderList .customerInfo input, .orderList .customerInfo select {
    width: 70%;
    height: 1.2rem;
    border-radius: 0.2rem;
    border: 1px solid #997400;
    font-family: 'Lato', sans-serif;
    outline-style: none;
  }
  .orderList .customerInfo select {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }
  .orderList .submitButton {
    border: solid 1px #f04e51;
    background-color: #f04e51;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.4rem;
    color: #ffff;
    margin: 2rem 28%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .orderDetails {
    margin-top: 0.4rem;
  }
  .orderDetails h4 {
    text-decoration: underline;
  }
  .orderDetails .titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  .orderDetails .prodQty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }
  .orderDetails .prodQty .prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
  }
  .orderDetails .prodQty .prod div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .orderDetails .prodQty .prod div button {
    width: 1.5rem;
    font-size: 1rem;
  }
  .orderDetails .prodQty .prod div button img {
    width: 0.9rem;
  }
  .orderDetails .prodQty p {
    margin-bottom: 0.3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0ece2;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */