@import "./global";
@import "./home";
@import "./navBar";
// @import "/src/styles/order";
// @import "/src/styles/orderHistory";
// @import "/src/styles/orderStatus";
// @import "/src/styles/chefOrder";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff0cc;
  font-family: 'Lato', sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}


