@import "./global";
@import "./home";
@import "./navBar";
@import "./order";
@import "./cards";
@import "./products";
@import "./orderList";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f1ef;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: $xmedium;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}
// .is-active{
//   background-color: darkcyan;
//   color: aliceblue;
// }
// .inactive{
//   background-color: rgb(85, 84, 84);
// }

